# Core Frameworks
langchain
langgraph
chromadb

# Utilities
python-dotenv
fastapi
uvicorn

# Document Processing
PyPDF2
pypdf

# Embeddings
sentence-transformers

# Testing
pytest
langchain-community
sentence-transformers
